include AUTHORS.md
include CONTRIBUTING.md
include CHANGELOG.md
include LICENSE
include README.md

recursive-include tests *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.md conf.py{% if cookiecutter.use_makefile|lower == "y" %}Makefile make.bat{% endif %} *.jpg *.png *.gif
